// Background Color Variables
$darkblue: #151e2c;
$verydarkblue: #101A28;
$lightblue: #303D50;
$applybutton: #335AF9;
$removebutton: #ff5757;
$expertadvice: #F8CE01;
$carservice: #FF6A39;
$helpcenter: #00B967;

// Borders Color 
// **** all border colors match darktext color ****

// Font Family Variables

// Text Color Variables

// Input Text Column Styles

// Car Text Column Styles

// Right Text Column Styles