body{
    margin: 0;
    padding: 0;

    .container{
        overflow: hidden;
        max-width: 80%;
        background-color: rgb(194, 194, 194);
        border-radius: 20px;

            .leftSide{
                height: 100vh;
                border-radius: 20px;
                padding: 20px;
                margin: 20px;
                background-color: aquamarine;
            }
    
            .middle{
                height: 100vh;
                margin: 20px;
                border-radius: 20px;
                padding: 20px; 
                background-color: rgb(53, 202, 152);
                overflow: hidden;

                        .cardContainer{
                            display: flex;
                            flex-wrap: wrap;
                        }
            
                        .card{
                            margin: 20px;
                            padding: 20px; 
                        }
                    }
            }
    
            .rightSide{
                height: 100vh;
                border-radius: 20px;
                padding: 20px;
                margin: 20px;
                background-color: rgb(36, 78, 64);
            }
        }
